.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.individual-movie, .individual-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 90%;
  border: 1px solid black;
}

button {
  border: 1px solid black;
}

.descending-button {
  background-color: rgb(202, 221, 202);
}
.ascending-button {
  background-color: rgb(212, 175, 175);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin: 10px;
  padding: 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 90%;
  border: 1px solid black;
}

h3 {
  text-align: center;
}

a:hover {
  text-shadow: 0 0 6px grey;
}

a {
  color: black;
  text-decoration: none;
}

.active {
  text-shadow: 0 0 6px teal;
}

.sort-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sort-options-container button {
  margin: 10px;
  padding: 5px;
  width: 8rem;
  height: 3rem;
}

.stopwatch-half {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 90%;
}

.stopwatch-half button {
  margin: 15px;
  padding: 5px;
  width: 100px;
  height: 30px;
}

.time-element {
  margin: 0 4px;
  font-family: 'Courier New', Courier, monospace;
}

